<!-- wp:template-part {"slug":"header","theme":"fse-tester","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
  <main class="wp-block-group">
    <!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <div class="wp-block-group">
      <!-- wp:paragraph -->
      <p>Para 1</p>
      <!-- /wp:paragraph -->

      <!-- wp:paragraph -->
      <p>Para 2</p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
  </main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"fsetester/two-cols-two-pics"} /-->
<!-- wp:template-part {"slug":"another-template-part","tagName":"div","className":"recent-posts"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
